.icon {
  stroke: rgb(var(--clr-main));
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.item {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;

  border-radius: 100px;
  background-color: rgb(var(--clr-card));
}
